<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker1" ).datepicker();
  } );
  </script>
  

</head>
<body>
 

<form action = '' method="POST">
	{% csrf_token %}
	<script>
  	$( function() {
    	$( "#datepicker2" ).datepicker();
  	} );
  	</script>
  
	<p>From: <input name='From' type="text" id="datepicker2"></p>
	<p>To: <input name='To' type="text" id="datepicker1" ></p>
  <select name = "School">
    <option value="CS">CS</option>
    <option value="CND">CND</option>
    <option value="SDP">SDP</option>
    <option value="EE">EE</option>
    <option value="CLS">CLS</option>

  </select> 
	<input type="submit" value = "Submit">
</form>

</body>
</html>